body
{
background-color: black;
}


.jumbotron
{
  height: 500px;
  background-image: url("club1.jpg");
  background-position: center;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  align-items : center;
  text-align: center;

}

.card
{
color: white;
align-items: baseline;
background-color: black;
}
.card-group
{
  margin-top: -30px;
  background-color: black;
}
.texte
{
  margin-top: 125px;
}
.btn
{

      min-width: 250px;
      min-height: 80px;
      margin-top: 100px;
      padding: 45px;
      color: white;
      border-radius: 40px;

      border: solid;


}
button {
 position: relative;
 padding: 1em 2em;
 outline: none;
 border: 1px solid #303030;
 background: #212121;
 color: white !important;
 text-transform: uppercase;
 letter-spacing: 2px;
 font-size: 17px;
 overflow: hidden;
 transition: 0.2s;
 border-radius: 40px;
 cursor: pointer;
 font-weight: bold;
}

button:hover {
 box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
 transition-delay: 0.6s;
 color:white;
 background-color: transparent;
}

button span {
 position: absolute;
}

button span:nth-child(1) {
 top: 0;
 left: -100%;
 width: 100%;
 height: 2px;
 background: linear-gradient(90deg, transparent, #ae00ff);
}

button:hover span:nth-child(1) {
 left: 100%;
 transition: 0.7s;
}

button span:nth-child(3) {
 bottom: 0;
 right: -100%;
 width: 100%;
 height: 2px;
 background: linear-gradient(90deg, transparent, #001eff);
}

button:hover span:nth-child(3) {
 right: 100%;
 transition: 0.7s;
 transition-delay: 0.35s;
}

button span:nth-child(2) {
 top: -100%;
 right: 0;
 width: 2px;
 height: 100%;
 background: linear-gradient(180deg, transparent, #ae00ff);
}

button:hover span:nth-child(2) {
 top: 100%;
 transition: 0.7s;
 transition-delay: 0.17s;
}

button span:nth-child(4) {
 bottom: -100%;
 left: 0;
 width: 2px;
 height: 100%;
 background: linear-gradient(360deg, transparent, #001eff);
}

button:hover span:nth-child(4) {
 bottom: 100%;
 transition: 0.7s;
 transition-delay: 0.52s;
}

button:active {
 background: #ae00af;
 background: linear-gradient(to top right, #ae00af, #001eff);
 color: #bfbfbf;
 box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
 transition: 0.1s;
}

button:active span:nth-child(1)
span:nth-child(2)
span:nth-child(2)
span:nth-child(2) {
 transition: none;
 transition-delay: none;
}
.scroll-container {
  width: 350px;
  height: 200px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.scroll-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 5em;
}
